{% extends 'base.html' %}
{%block name%}
feedback
{%endblock%}
{%block content%}

       <div class="feedback-block">
                        <div class="feedbackk">
                            <h1>feedback</h1>
            <form action="POST" class="feedback-form">
                        <input type="text" name="name" placeholder="input your nickname" class="form-control" required>
                <input type="email" class="form-control" id="email" name="email" placeholder="input your email" required>
<input type="text" name="name" placeholder="input your nickname" class="form-control" required>
            
                        <button class="button-add-to-cart">Send</button>
        </form>
        
    </div>
                    </div>
{%endblock%}