{% extends 'base.html' %}
{%block content%}

       <div class="feedback-block">
                        <div class="feedbackk">
                            <h1>feedback</h1>
            
                
                    <form method="post" class="feedback-form needs-validation">
                        {% csrf_token %}
                        
                            <input type="text" name = "name" placeholder="name" required>
                            
                            <input type="email" name = "email" placeholder="email" required>

                            <textarea name="order" id="" cols="22" style="height: 130px;" rows="4" placeholder="feedback" required> </textarea>
                            
                            <input type="submit" class="btn btn-primary"  value="Send"  >
                        
                    </form>
        
    </div>
</div>
     
                 
{%endblock%}