
.reg-blok{
    width: 5%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 48%;
    margin-top: 10%;
<<<<<<< HEAD
    
}
    
.reg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .login-blok .login button{
        box-sizing: border-box;
    
        /* Auto layout */
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 30px;
        left: 20px;
        top: 20px;
        
        background: #296770;
    
        border: 5px solid #378A95;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 90px;
    }
    
    .login-blok{
        width: 3%;
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 49%;
        margin-top: 10%;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        color: #333;
    }
    .reg-blok .reg button{
        box-sizing: border-box;
    
        /* Auto layout */
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 30px;
        left: 20px;
        top: 20px;
        
        background: #296770;
    
        border: 5px solid #378A95;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 90px;
    }
    
=======
    
    }
    
    .login-blok .login button{
        box-sizing: border-box;
    
        /* Auto layout */
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 30%;
        width: 70px;
        height: 30px;
        left: 20px;
        top: 20px;
        
        background: #296770;
    
        border: 5px solid #378A95;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 90px;
    }
    
    .login-blok{
        width: 5%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 48%;
        margin-top: 10%;
    }
    .reg{
    
    
    }
    .reg-form{
    
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        color: #333;
    }
    .reg-blok .reg button{
        box-sizing: border-box;
    
        /* Auto layout */
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70px;
        margin-left: 30%;
        height: 30px;
        left: 20px;
        top: 20px;
        
        background: #296770;
    
        border: 5px solid #378A95;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 90px;
    }
    
>>>>>>> origin/RubyCat1337-patch-2.0.7
.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: flex;
    align-items: center;
    padding: 10px 22px;
    
    
    width: 100%;
    height: 2%;
    
    background: #FFFFFF;
    border-radius: 90px;
}
.menu{
    position: absolute;
    left: 30;
    top: 160px;
}
.searchoo{
    width: 95%;
    height: 70;
    margin: 0;

}
.search2{
    width: 100%;
    padding: 0;
    display: flex;
}
.hot-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 20px;
    gap: 10%;
    margin: 0;
    width: 100%;
    height: 120px;
    


}
.upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #378A95;
    align-items: center;
}
.logo{
    width: 200px;
    height: 75px;
}
.navbar{
    height: 90px;
    width: 100%;
}

.cart img{
    width: 50px;
    height:50px ;
    
}

