{% extends 'base.html' %}
{%block name%}
login
{%endblock%}
{%block content%}
<div class="login-blok">
    <div class="login">
        <h1>Login</h1>
        <form  method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="input your nickname" required>
            <input type="password" name="password" placeholder="input your password" required>
            <button>Submit</button>
        </form>
        <span class="error_login">You entered wrong nickname or password</span>
    </div>
</div>
{%endblock%}