{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css.style.css' %}">
{% endblock %}
{% block name %}
registration
{% endblock %}
{% block content %}

<div class="reg-blok2">
    <div class="reg-blok">
        <div class="reg" style="margin-left: 1350px; margin-top:280px;">
            <h1>registration</h1>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="input your nickname" required>
                    <div class="invalid-feedback" style="margin-left: -120px;margin-top:-27px">
                        Wrong username!
                    </div>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="input your email" required>
                    <div class="invalid-feedback" style="margin-left: -455px;margin-top:-31px;width:auto">
                        The email address should follow the pattern <strong>example@example.com</strong>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="input your password" required>
                    <div class="invalid-feedback" style="margin-left: -167px;margin-top:-27px">
                        Your password isn't safe!
                    </div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="repeat your password" required>
                    <div class="invalid-feedback" style="margin-left: -301px;margin-top:-30px;width:auto;">
                        Confirm Password are not the same Password
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="tele" data-inputmask="'mask': '+99(999)-999-9999', 'showMaskOnHover': false, 'placeholder': '*'" name="phone" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <span class="error_reg">{{ error_text }}</span>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.3.0/dist/inputmask/min/inputmask.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.3.0/dist/inputmask/min/jquery.inputmask.min.js"></script>
<script>
    (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
            form.addEventListener(
                "submit",
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    let allIns = document.querySelectorAll(".tele");
    Inputmask().mask(allIns);
    [...allIns].map(el => el.setAttribute('placeholder', "+**(***)-***-****"));

    $('#jqp input').inputmask("phone", {
    placeholder: '#',
    showMaskOnHover: false,
    onKeyValidation: function () {
        let mt = $(this).inputmask("getmetadata");
        $('#jqp span').text($(mt['cd']) ($(mt['kk'])));
        //console.log(mt);
      }
    });

    Inputmask.extendAliases({
    my_phone: {
        alias: "abstractphone",
        placeholder: '*',
        phoneCodes: [{
        mask: "+987-***",
        kk: "zz",
        cd: "zzzz",
        desc_en: "Moon!",
        name_ru: "яяя",
        desc_ru: ""
        }, {
        mask: "+789-***",
        kk: "yy",
        cd: "Y-Y",
        desc_en: "Sun!"
        }],
        onKeyValidation: function() {
        let mt = $(this).inputmask("getmetadata");
        $('#jqma span').text(mt['desc_en']).css('color',
        `#${Math.floor(Math.random() * 0x1000000).toString(16).padStart(6, 0)}`);
        //console.log(mt);
        }
    }
  });
  $('#jqma input').inputmask("my_phone");
</script>
{% endblock %}
