{% extends 'base.html' %}
{%block name%}
main_page
{%endblock%}
{%block content%}
<div class="sales-hits-line" style="background-color: D2F018;height: 40px;display: flex;justify-content: center;">
    <h2 style="position: relative;background-color: #D2F018;">Sales Hits</h2>
</div>
<div class="sales-hits-product" style="display: flex;width: 100%;background: #3D7F88;"> 
    <div class="sales-hits-product-body" style="display: flex;width: 100%;flex-direction: row;justify-content: center;flex-wrap: wrap;">
        <div class="sales-hits-product-body-card" style="display: flex;flex-direction: row;align-items: flex-start;padding: 10px 10px 10px 20px;gap: 10px;width:18rem;">
            <div class="sales-hits-product-body-card-main" style="display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;width: 298px;height: 350px;padding-top: 40px;padding-bottom: 5px;border-radius: 5%;background: #FFFFFF;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <img src="/media/media/MSI_PCI-Ex_GeForce_RTX_3050_Ventus_2X_8G_OC_8GB_GDDR6_n2wtbov.jpg" class="card-img-top" alt=".s.." style="width: 80%;height: 40%;">
                <div class="product-body">
                    <h2 style="text-align: center;font-size: 15px;line-height: 18px;">MSI PCI-Ex GeForce RTX 3050 Ventus 2X 8G OC 8GB GDDR6</h2>
                    <span>10000$</span>
                    <a href="/product/1" class="btn btn-primary" style="box-sizing: border-box;display: flex;flex-direction: row;justify-content: center;align-items: center;left: 20px;top: 20px;color: #fff;background: #296770;border-radius: 50px;border: 5px solid #378A95;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Detailed description</a>
                </div>
            </div>
        </div>
        <div class="sales-hits-product-body-card" style="display: flex;flex-direction: row;align-items: flex-start;padding: 10px 10px 10px 20px;gap: 10px;width:18rem;">
            <div class="sales-hits-product-body-card-main" style="display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;width: 298px;height: 350px;padding-top: 40px;padding-bottom: 5px;border-radius: 5%;background: #FFFFFF;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <img src="/media/media/MSI_PCI-Ex_GeForce_RTX_3050_Ventus_2X_8G_OC_8GB_GDDR6_n2wtbov.jpg" class="card-img-top" alt=".s.." style="width: 80%;height: 40%;">
                <div class="product-body">
                    <h2 style="text-align: center;font-size: 15px;line-height: 18px;">MSI PCI-Ex GeForce RTX 3050 Ventus 2X 8G OC 8GB GDDR6</h2>
                    <span>10000$</span>
                    <a href="/product/1" class="btn btn-primary" style="box-sizing: border-box;display: flex;flex-direction: row;justify-content: center;align-items: center;left: 20px;top: 20px;color: #fff;background: #296770;border-radius: 50px;border: 5px solid #378A95;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Detailed description</a>
                </div>
            </div>
        </div>
        <div class="sales-hits-product-body-card" style="display: flex;flex-direction: row;align-items: flex-start;padding: 10px 10px 10px 20px;gap: 10px;width:18rem;">
            <div class="sales-hits-product-body-card-main" style="display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;width: 298px;height: 350px;padding-top: 40px;padding-bottom: 5px;border-radius: 5%;background: #FFFFFF;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <img src="/media/media/MSI_PCI-Ex_GeForce_RTX_3050_Ventus_2X_8G_OC_8GB_GDDR6_n2wtbov.jpg" class="card-img-top" alt=".s.." style="width: 80%;height: 40%;">
                <div class="product-body">
                    <h2 style="text-align: center;font-size: 15px;line-height: 18px;">MSI PCI-Ex GeForce RTX 3050 Ventus 2X 8G OC 8GB GDDR6</h2>
                    <span>10000$</span>
                    <a href="/product/1" class="btn btn-primary" style="box-sizing: border-box;display: flex;flex-direction: row;justify-content: center;align-items: center;left: 20px;top: 20px;color: #fff;background: #296770;border-radius: 50px;border: 5px solid #378A95;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Detailed description</a>
                </div>
            </div>
        </div>
        <div class="sales-hits-product-body-card" style="display: flex;flex-direction: row;align-items: flex-start;padding: 10px 10px 10px 20px;gap: 10px;width:18rem;">
            <div class="sales-hits-product-body-card-main" style="display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;width: 298px;height: 350px;padding-top: 40px;padding-bottom: 5px;border-radius: 5%;background: #FFFFFF;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <img src="/media/media/MSI_PCI-Ex_GeForce_RTX_3050_Ventus_2X_8G_OC_8GB_GDDR6_n2wtbov.jpg" class="card-img-top" alt=".s.." style="width: 80%;height: 40%;">
                <div class="product-body">
                    <h2 style="text-align: center;font-size: 15px;line-height: 18px;">MSI PCI-Ex GeForce RTX 3050 Ventus 2X 8G OC 8GB GDDR6</h2>
                    <span>10000$</span>
                    <a href="/product/1" class="btn btn-primary" style="box-sizing: border-box;display: flex;flex-direction: row;justify-content: center;align-items: center;left: 20px;top: 20px;color: #fff;background: #296770;border-radius: 50px;border: 5px solid #378A95;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Detailed description</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <h4 style="position: relative;left: 670px;height: 2px;font-family: 'Source Sans Pro';">About Us</h4> -->
<div class="About_Us" style="display: flex;width: 100%;min-height: 55.5%;background: #296770;">
    <div class="about_us_photo" style="width: 649px;height: 319px;margin-top:30px;">
        <img src="/media/about_us.png" class="about_us_photo-1" alt=".s.." style="width: 649px;height: 319px;position: relative; left: 30px;">
    </div>
    <div class="about_us_text" style="position: relative;width: 649px;height: 319px;bottom: -30px;left: 95px;">
        <h4 class="our_store" style="width: 275px;height: 53px;font-family: 'Source Sans Pro';font-style: normal;font-weight: 400;font-size: 40px;line-height: 50px;display: flex;align-items: center;text-align: center;color: #FFFFFF;position: relative; left: 190px;">About our store</h4>
        <p class="info_our_store" style="width: 1035px;height: 220px;font-family: 'Source Sans Pro';font-style: normal;font-weight:300 ;font-size: 18px;line-height: 40px;display: flex;align-items: center;text-align: center;color: #FFFFFF;position:relative;left:17px">ByteBliss is a specialized retail store that focuses on providing high-quality <br> gaming PCs and other gaming devices. With a dedicated focus on the gaming <br> community, ByteBliss aims to cater to the needs of both casual and <br> professional gamers. The store is known for its extensive selection of gaming <br> PCs, accessories, and peripherals, all aimed at enhancing the gaming <br> experience.</p>
    </div>
</div>
<div class="About_Us" style="display: flex;width: 100%;min-height: 55.5%;background: #296770;">
    <div class="about_us_text" style="position: relative;width: 649px;height: 319px;bottom: -109px;">
        <h4 class="our_store" style="width: 397px;height: 24px;font-family: 'Source Sans Pro';font-style: normal;font-weight: 400;font-size: 40px;line-height: 50px;display: flex;align-items: center;text-align: center;color: #FFFFFF;position: relative; left: 190px;">What services we offer</h4>
        <p class="info_our_store" style="width: 684px;height: 134px;font-family: 'Source Sans Pro';font-style: normal;font-weight: 300;font-size: 18px;line-height: 40px;display: flex;align-items: center;text-align: center;color: #FFFFFF;position: relative;left: 36px;justify-content: center;">ByteBliss offers gaming PC customization, assembly, diagnostics and <br> upgrades, peripheral setup and configuration, software installation and <br> optimization, as well as personalized gaming consultation and support</p>
    </div>
    <div class="about_us_photo" style="width: 649px;height: 319px;margin-top:30px;">
        <img src="/media/services.png" class="about_us_photo-1" alt=".s.." style="width: 649px;height: 319px;position: relative; left: 95px;">
    </div>
</div>
<div class="About_Us" style="display: flex;width: 100%;min-height: 55.5%;background: #296770;">
    <div class="about_us_photo" style="width: 649px;height: 319px;margin-top:30px;">
        <img src="/media/staff.png" class="about_us_photo-1" alt=".s.." style="width: 649px;height: 319px;position: relative; left: 30px;">
    </div>
    <div class="about_us_text" style="position: relative;width: 649px;height: 319px;bottom: -30px;left: 95px;">
        <h4 class="our_store" style="width: 275px;height: 53px;font-family: 'Source Sans Pro';font-style: normal;font-weight: 400;font-size: 40px;line-height: 50px;display: flex;align-items: center;text-align: center;color: #FFFFFF;position: relative; left: 190px;">About our staff</h4>
        <p class="info_our_store" style="width: 1035px;height: 220px;font-family: 'Source Sans Pro';font-style: normal;font-weight:300 ;font-size: 18px;line-height: 40px;display: flex;align-items: center;text-align: center;color: #FFFFFF;position:relative;left:17px">Our staff at ByteBliss is a team of highly skilled and passionate individuals who <br> are avid gamers themselves, bringing their expertise and firsthand experience to <br> assist customers in finding the perfect gaming solutions and providing top-notch <br> customer service. With their in-depth knowledge of gaming hardware and <br> software, they are committed to ensuring that customers have an exceptional <br> gaming experience and make informed decisions.</p>
    </div>
</div>
{%endblock%}