{% extends 'base.html' %}
{% load static %}
{%block content%}

  <div class="category-blok2">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" style="background-color: white;color: black;">Filter</button>
    
    
    <div class="cataloggg text-center" id="product-list" style="gap: 20px; margin-top: 20px;">
      {% for product in list_products %}
      <div class="product product-category-{{ product.category }}" data-name="{{ product.name }}" style="width: 18rem;border-radius: 20px;">
        <div class="catalogg">
          <img src="{{ product.image.url }}" class="card-img-top" alt=".s..">
          <div class="card-body">
            <h2 style="    font-size: 1rem;">{{ product.name }}</h2>
            <span>{{ product.price }}$</span>
            <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Detailed description</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
    </div>
    </div>
  </div>
  </div>
  <div class="offcanvas offcanvas-top canvas" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel" style="background-color: white;">
    <div class="offcanvas-header" style="background-color: white;">
      <h5 class="offcanvas-title" id="offcanvasTopLabel">Filters</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body filters">
      <form method="post">
        {% csrf_token %}
        {% for category in additional_category %}
        <div class="manufacturers">
          <input type="checkbox" class="check" id="check-input-{{ category.pk }}" name="check" value="{{ category.pk }}" checked>
          <label for="check-input-{{ category.pk }}">{{ category.name }}</label>
        </div>
        {% endfor %}
      
        <input type="text" hidden name="name" id="text-input2" value="filter">
        <button type="submit" id="submit-btn" class="btn btn-secondary">Submit filters</button>
      </form>
      
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  // Обробник події натискання кнопки або вибору пункту у фільтрі
  $('#submit-btn').click(function(event) {
    event.preventDefault();  // Заборонити стандартну поведінку форми

    // Отримання обраних категорій
    var selectedCategories = [];
    $('input[type=checkbox]:checked').each(function() {
      selectedCategories.push($(this).val());
    });
    let url = '../catalogue'
    // AJAX-запит до сервера
    $.ajax({
      url: '',  // Залиште порожній URL або вкажіть URL для обробки фільтрів
      type: 'POST',
      data: {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'ncheckboxes[]': selectedCategories
      },
      success: function(response) {
        // Оновлення списку товарів
        $('#product-list').html(response);
        // $('#product-list').load(response);
      },
      error: function(xhr, status, error) {
        // Обробка помилки
        console.error(error);
      }
    });
  });
});

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


{%endblock%}
