{% extends 'base.html' %}
{%block name%}
cart
{%endblock%}
{%block content%}
<div class="product-block2">
<div class="products-idi-b-bulky">
    {% for product in products %}
        <div class="products-1337zxc">
            
            <p> {{ product.name }}</p>
            <p>{{ product.price }} $</p>
            <p> {{ product.cost }}</p>
            <form method="POST" class="delet_from_cart">
                {% csrf_token %}
                <input type="hidden" name="product_pk" value="{{ product.pk}}">
                <button> Видалити з кошика</button>

            </form>
        </div>
    {% endfor %}
</div>
</div>
{%endblock%}