{% extends 'base.html' %}
{%block name%}
cart
{%endblock%}
{%block content%}

    <h1>Cart</h1>
    {% for key, product in products.items() %}
        <div>
            <hr>
            <p> {{ product.name }}</p>
            <p> {{ product.cost }}</p>
            <form method="POST" class="delet_from_cart">
                {% csrf_token %}
                <input type="hidden" name="index" value="{{ index }}">
                <button>Remove from cart</button>
            </form>
        </div>
    {% endfor %}

{%endblock%}